{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Estilo personalizado para fazer o iframe ocupar a altura total */
    body, html {
        height: 100%;
    }
    
    .full-height {
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none; /* Remove a borda padrão do iframe */
    }
</style>
<!-- BEGIN Page Content -->
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Portal</a></li>
        <li class="breadcrumb-item active">Inicio</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span
                class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-globe'></i> Dra. Bruna Evelyn Alves 
             <sup class='badge badge-primary fw-500'>SUA ULTIMA NUTRI!</sup>
            <small>
                Conheça mais sobre mim!
            </small>
        </h1>
        <!-- 
		Right content on content header
		A nice area to add graphs or buttons -->
        <div class="subheader-block">
            <a href="https://nutricao.info/brunaalves" target="_blank">brunaalves</a>
        </div>
    </div>
    <!-- Your main content goes below here: -->
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col full-height">
                <iframe src="https://nutricao.info/brunaalves"></iframe>
            </div>
        </div>
    </div>
    
</main>
<!-- this overlay is activated only when mobile menu is triggered -->
<div class="page-content-overlay" data-action="toggle"
    data-class="mobile-nav-on"></div> <!-- END Page Content -->
<!-- BEGIN Page Footer -->
<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700">2023 © Torres Tech by&nbsp;<a
                href='https://www.gotbootstrap.com' class='text-primary fw-500'
                title='gotbootstrap.com' target='_blank'>gotbootstrap.com</a></span>
    </div>
</footer>
<!-- END Page Footer -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<script>
                                    Swal.fire({
                                      'title': 'Sucesso! 😊',
                                      'text': '{{ message }}',
                                      'icon': 'success',
                                      'timer': 4000,
                                      'timerProgressBar': true,
                                      'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
                                      'showConfirmButton': false, // Não exibir botão de confirmação
                                      'toast': true // Indica que é um toast
                                    })
                                  </script>
{% elif message.tags == 'warning' %}
<script>
                                    Swal.fire({
                                      'title': 'Atenção! ',
                                      'text': '{{ message }}',
                                      'icon': 'warning',
                                      'timer': 7000,
                                      'timerProgressBar': true,
                                      'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
                                      'showConfirmButton': false, // Não exibir botão de confirmação
                                      'toast': true // Indica que é um toast
                                    })
                                  </script>
{% elif message.tags == 'error' %}
<script>
                                    Swal.fire({
                                      'title': 'Ops! 😢',
                                      'text': '{{ message }}',
                                      'icon': 'error',
                                      'timer': 7000,
                                      'timerProgressBar': true,
                                      'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
                                      'showConfirmButton': false, // Não exibir botão de confirmação
                                      'toast': true // Indica que é um toast
                                    })
                                  </script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}