{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Definindo estilos para o layout de cartões de categoria e modais */
    body, html {
        height: 100%;
    }

    .full-height {
        height: 100%;
    }

    .category-card .card-img-top {
        position: relative;
        height: 200px;
        width: 100%; /* Definindo a largura como 100% para tornar o cartão responsivo */
        background-size: cover;
        background-position: center;
        border-bottom: 2px solid #f0f0f0;
    }

    .category-card .card-img-top .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .category-card:hover {
        transform: scale(1.02);
    }

    .modal-lg {
        max-width: 80%; /* Definindo uma largura maior para o modal */
    }

    /* Adicionando estilos para os distintivos */
    .novo-conteudo {
    position: absolute;
    top: 10px;
    right: 10px; /* Ajustado para posicionar no canto superior direito */
    background-color: #35944b;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

.lancamento-futuro {
  position: absolute;
  top: 10px; /* Ajustado para não sobrepor o outro distintivo */
  right: 10px; /* Ajustado para posicionar no canto superior direito */
  background-color: #35944b;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

</style>
<main id="js-page-content" role="main" class="page-content">
    <!-- Aqui começam os breadcrumbs e detalhes do subheader -->
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Portal</a></li>
        <li class="breadcrumb-item active">Inicio</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-globe'></i> {{ info.nome }}
            <sup class='badge badge-success fw-500'>{{ info.nome_reduzido }}</sup>
            <small>
                {{ info.slogan }}
            </small>
        </h1>
        <!-- <div class="subheader-block">
            <a href="https://nutricao.info/brunaalves" target="_blank">brunaalves</a>
        </div> -->
    </div>
    <!-- Aqui começa a estrutura principal do conteúdo da página -->
    <!-- Aqui começa a estrutura principal do conteúdo da página -->
    {% load tz %}

<div class="col full-height">
    <div class="row">
        {% for categoria in categorias_all %}
        <!-- Iniciando um loop para iterar por cada categoria disponível e criar um card para cada uma -->
        <div class="col-md-6 col-sm-12">
            <!-- Card da Categoria -->
            <div class="card mb-3 category-card" data-toggle="modal" data-target="#modalCategoria{{ categoria.id }}">
                <!-- Parte superior do cartão com a imagem e overlay -->
                <div class="card-img-top" style="background-image: url('{{ categoria.capa.url }}');">
                    <!-- <div class="overlay"> -->
                        <!-- Detalhes da categoria no overlay -->
                        <!-- <h5 class="card-title">{{ categoria.nome }}</h5> -->
                        <!-- <p class="card-text">{{ categoria.descricao|truncatewords:30 }}</p> -->
                        <!-- <p class="card-text">Quantidade de módulos: {{ categoria.conteudo_set.count }}</p> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- Modal com detalhes dos conteúdos da categoria -->
            <div class="modal fade" id="modalCategoria{{ categoria.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- Título do modal -->
                            <h5 class="modal-title" id="exampleModalLabel">Categoria: {{ categoria.nome }}</h5>
                            
                        </div>
                        <div class="modal-body">
                            <!-- Loop para listar os conteúdos da categoria -->
                            {% for conteudo in categoria.conteudo_set.all %}
                            
                            <div class="card mb-2 position-relative"> <!-- Adicionado classe position-relative para posicionar corretamente os distintivos -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ conteudo.titulo }}</h5>
                                    <p class="card-text">{{ conteudo.descricao }}</p>
                                    
                                    {% if conteudo.is_programado %}
                                    <div class="lancamento-futuro">Lançamento em {{ conteudo.data_publicacao|date:"d/m/Y" }}</div>
                                    {% elif conteudo.is_recent %}
                                    <div class="novo-conteudo">Novo</div>
                                    {% endif %}
                                </div>
                                {% if not conteudo.is_programado %}
                                <div class="card-footer">
                                    <a href="{% url 'conteudo:conteudo_detail' conteudo.id %}" class="btn btn-primary">Mais detalhes</a>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    

<!-- this overlay is activated only when mobile menu is triggered -->
<div class="page-content-overlay" data-action="toggle"  data-class="mobile-nav-on"></div> <!-- END Page Content -->
<!-- BEGIN Page Footer -->
<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700">2023 © Torres Tech by&nbsp;<a
                href='https://www.gotbootstrap.com' class='text-primary fw-500'
                title='gotbootstrap.com' target='_blank'>gotbootstrap.com</a></span>
    </div>
</footer>
<!-- END Page Footer -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for message in messages %}
{% if message.extra_tags == 'personalizado' %}
<script>
    Swal.fire({
        // 'title': 'Bem-vindo(a) ao ZEN! 😊',
        // 'text': '{{ message }}',
        'icon': 'success',
        'background': '#35944b', // Fundo verde
        'iconColor': '#ffffff', // Cor do ícone branca
        'html': '<span style="color: #ffffff">{{ message }}</span>', // Letras brancas
        'position': 'top', // Posição no topo da tela
        'timer': 4000,
        'timerProgressBar': true,
        'showConfirmButton': false,
        'toast': true // Indica que é um toast
    })
</script>
{% elif message.tags == 'success' %}
<script>
Swal.fire({
    'title': 'Sucesso! 😊',
    'text': '{{ message }}',
    'icon': 'success',
    'timer': 4000,
    'timerProgressBar': true,
    'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
    'showConfirmButton': false, // Não exibir botão de confirmação
    'toast': true // Indica que é um toast
})
</script>
{% elif message.tags == 'warning' %}
<script>
Swal.fire({
    'title': 'Atenção! ',
    'text': '{{ message }}',
    'icon': 'warning',
    'timer': 7000,
    'timerProgressBar': true,
    'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
    'showConfirmButton': false, // Não exibir botão de confirmação
    'toast': true // Indica que é um toast
})
</script>
{% elif message.tags == 'error' %}
<script>
Swal.fire({
    'title': 'Ops! 😢',
    'text': '{{ message }}',
    'icon': 'error',
    'timer': 7000,
    'timerProgressBar': true,
    'position': 'top-end', // Posição do toast (top-start, top-end, bottom-start, bottom-end)
    'showConfirmButton': false, // Não exibir botão de confirmação
    'toast': true // Indica que é um toast
})
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}