{% load static %}
<!-- Pagina de Notificações do cabeçalho -->
<div>
    <a href="#" class="header-icon" data-toggle="dropdown" title="You got 11 notifications">
        <i class="fal fa-bell"></i>
        <span class="badge badge-icon">{{ numero_notificacoes }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
        <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
            <h4 class="m-0 text-center color-white">
                {{ numero_notificacoes }} Notificações
                <small class="mb-0 opacity-80"></small>
            </h4>
        </div>
        <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
            <li class="nav-item">
                <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Notificações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-feeds" data-i18n="drpdwn.feeds">Feeds</a>
            </li>
        </ul>
        <div class="tab-content tab-notification">
            <div class="tab-pane active p-3 text-center">
                <h5 class="mt-4 pt-4 fw-500">
                    <span class="d-block fa-3x pb-4 text-muted">
                        <i class="ni ni-arrow-up text-gradient opacity-70"></i>
                    </span> Select a tab above to activate
                    <small class="mt-3 fs-b fw-400 text-muted">
                        This blank page message helps protect your privacy, or you can show the first message here automatically through
                        <a href="#">settings page</a>
                    </small>
                </h5>
            </div>
            <div class="tab-pane" id="tab-messages" role="tabpanel">
                <div class="custom-scroll h-100">
                    <ul class="notification">
                        {% for notificacao in notificacoes %}
                        <li class="{% if not notificacao.lido %}unread{% endif %}">
                            <a href="#" class="d-flex align-items-center">
                                    <img class="profile-image rounded-circle" src="{{ notificacao.gerador.profile.foto.url }}" alt="Foto do Perfil">
                                </span>
                                <span class="d-flex flex-column flex-1 ml-1">
                                    <span class="name">{{ notificacao.gerador.get_full_name}}</span>
                                    <span class="msg-a fs-sm">Respondeu seu comentário</span>
                                    <!-- Mostrando uma parte da resposta -->
                                    <span class="msg-b fs-xs">{{ notificacao.resposta.texto|truncatechars:50 }}</span>
                                    <span class="fs-nano text-muted mt-1">{{ notificacao.data_hora|timesince }} ago</span>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="tab-feeds" role="tabpanel">
                <div class="custom-scroll h-100">
                    <ul class="notification">
                        {% for conteudo in conteudos_ativos %}
                        <li class="{% if conteudo.is_recent %}unread{% endif %}">
                            <div class="d-flex align-items-center show-child-on-hover">
                                <span class="d-flex flex-column flex-1">
                                    <span class="name d-flex align-items-center">
                                        {{ conteudo.titulo }} 
                                        {% if conteudo.is_recent %}
                                        <span class="badge badge-success fw-n ml-1">NEW</span>
                                        {% endif %}
                                    </span>
                                    <span class="msg-a fs-sm">
                                        {{ conteudo.descricao|truncatechars:50 }}
                                    </span>
                                    <span class="fs-nano text-muted mt-1">{{ conteudo.data_publicacao }}</span>
                                </span>
                                <div class="show-on-hover-parent position-absolute pos-right pos-bottom p-3">
                                    <a href="{% url 'conteudo:conteudo_detail' conteudo.id %}" class="text-muted" title="view"><i class="fal fa-eye"></i></a>
                                    <!-- Você pode adicionar outros ícones/funcionalidades aqui se desejar -->
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            
        </div>
        <div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
            <a href="{% url 'conteudo:marcar_notificacoes_como_lidas' %}" class="fs-xs fw-500 ml-auto">Marcar todas como lidas</a>
        </div>
    </div>
</div>