
{% load static %}
<!-- Page Settings - Modal de Configuração de Layout -->
<div class="modal fade js-modal-settings modal-backdrop-transparent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-md">
        <div class="modal-content">
            <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center w-100">
                <h4 class="m-0 text-center color-white">
                    Pagina de Configuração
                    <small class="mb-0 opacity-80">Escolha a melhor cara do Portal Zen para você!</small>
                </h4>
                <button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="settings-panel">
                    
  
                    <hr class="mb-0 mt-4">
                    <div class="mt-4 d-table w-100 pl-5 pr-3">
                        <div class="d-table-cell align-middle">
                            <h5 class="p-0">
                                Tamanho da Fonte
                            </h5>
                        </div>
                    </div>
                    <div class="list mt-1">
                        <div class="btn-group btn-group-sm btn-group-toggle my-2" data-toggle="buttons">
                            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-sm" data-target="html">
                                <input type="radio" name="changeFrontSize"> PP
                            </label>
                            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text" data-target="html">
                                <input type="radio" name="changeFrontSize" checked=""> P
                            </label>
                            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-lg" data-target="html">
                                <input type="radio" name="changeFrontSize"> M
                            </label>
                            <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-xl" data-target="html">
                                <input type="radio" name="changeFrontSize"> G
                            </label>
                        </div>
                        <span class="onoffswitch-title-desc d-block mb-0">Se <strong>não houver</strong> mudança (atualize a pagina)</span>
                    </div>
                    
                    <hr class="mb-0 mt-4">
                    <div class="mt-4 d-table w-100 pl-5 pr-3">
                        <div class="d-table-cell align-middle">
                            <h5 class="p-0 pr-2 d-flex">
                                Temas
                                <a href="#" class="ml-auto fw-400 fs-xs" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-html="true" data-content="Aqui você pode escolher qual o tema/skin do Portal Zen." data-original-title="<span class='text-primary'><i class='fal fa-question-circle mr-1'></i> Temas Zen!</span>" data-template="<div class=&quot;popover bg-white border-white&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><h3 class=&quot;popover-header bg-transparent&quot;></h3><div class=&quot;popover-body fs-xs&quot;></div></div>"><i class="fal fa-question-circle mr-1"></i> Oque é isso?</a>
                            </h5>
                        </div>
                    </div>
                    <div class="pl-5 pr-3 py-3">
                        <div class="row no-gutters">
                            <div class="col-4 pr-2 text-center">
                                <div id="skin-default" data-action="toggle-replace" data-replaceclass="mod-skin-light mod-skin-dark" data-class="" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-primary rounded overflow-hidden text-success js-waves-on" data-original-title="Default Mode" style="height: 80px">
                                    <div class="bg-primary-600 bg-primary-gradient px-2 pt-0 border-right border-primary"></div>
                                    <div class="d-flex flex-column flex-1">
                                        <div class="bg-white border-bottom border-primary py-1"></div>
                                        <div class="bg-faded flex-1 pt-3 pb-3 px-2">
                                            <div class="py-3" style="background:url('static/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                Padrão
                            </div>
                            <div class="col-4 px-1 text-center">
                                <div id="skin-light" data-action="toggle-replace" data-replaceclass="mod-skin-dark" data-class="mod-skin-light" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-secondary rounded overflow-hidden text-success js-waves-on" data-original-title="Light Mode" style="height: 80px">
                                    <div class="bg-white px-2 pt-0 border-right border-"></div>
                                    <div class="d-flex flex-column flex-1">
                                        <div class="bg-white border-bottom border- py-1"></div>
                                        <div class="bg-white flex-1 pt-3 pb-3 px-2">
                                            <div class="py-3" style="background:url('static/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                Claro
                            </div>
                            <div class="col-4 pl-2 text-center">
                                <div id="skin-dark" data-action="toggle-replace" data-replaceclass="mod-skin-light" data-class="mod-skin-dark" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-dark rounded overflow-hidden text-success js-waves-on" data-original-title="Dark Mode" style="height: 80px">
                                    <div class="bg-fusion-500 px-2 pt-0 border-right"></div>
                                    <div class="d-flex flex-column flex-1">
                                        <div class="bg-fusion-600 border-bottom py-1"></div>
                                        <div class="bg-fusion-300 flex-1 pt-3 pb-3 px-2">
                                            <div class="py-3 opacity-30" style="background:url('static/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                Escuro
                            </div>
                        </div>
                    </div>

                </div> <span id="saving"></span>
            </div>
        </div>
    </div>
</div>