{% load static %}
<aside class="page-sidebar" style="display: flex; flex-direction: column; align-items: center;">
    <div class="page-logo" style="width: 100%;">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center justify-content-center position-relative" data-toggle="modal" data-target="#">
            <!-- <img src="" alt="SmartAdmin WebApp" aria-roledescription="logo" style="width: 50px; height: 50px; display: block; margin: 0 auto;">  -->
            <span class="text-truncate text-truncate-lg d-inline-block" style="text-align: center; margin-top: 10px; font-size: 14px; color: white;">{{ info.nome }}</span>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input"
                    placeholder="Filter menu" class="form-control" tabindex="0">
                <a href="#" onclick="return false;"
                    class="btn-primary btn-search-close js-waves-off"
                    data-action="toggle" data-class="list-filter-active"
                    data-target=".page-sidebar">
                    <i class="fal fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="info-card">
            {% if user.profile.foto %}
            <img src="{{ user.profile.foto.url }}"
                class="profile-image rounded-circle"
                alt="{{ user.first_name }} {{ user.last_name }}">
            {% else %}
            <img src="{% static 'img/demo/avatars/avatar-m.png' %}"
                class="profile-image rounded-circle"
                alt="{{ user.first_name }} {{ user.last_name }}">
            {% endif %}
            <div class="info-card-text">
                <a href="#" class="d-flex align-items-center text-white">
                    <span class="text-truncate text-truncate-sm d-inline-block">
                        {% if request.user.is_authenticated %}
                        Olá, {{ request.user.first_name }}
                        {% else %}
                        Nome de Usuário
                        {% endif %}
                    </span>
                </a>
                <span class="d-inline-block text-truncate text-truncate-sm">Bem
                    vindo(a)!</span>
            </div>


            <a href="#" onclick="return false;" class="pull-trigger-btn"
                data-action="toggle" data-class="list-filter-active"
                data-target=".page-sidebar" data-focus="nav_filter_input">
                <i class="fal fa-angle-down"></i>
            </a>
        </div>
        <!-- 
        TIP: The menu items are not auto translated. You must have a residing lang file associated with the menu saved inside dist/media/data with reference to each 'data-i18n' attribute.
        -->
        <ul id="js-nav-menu" class="nav-menu">
            <li class="active">
                <a href="{% url 'index' %}" title="Blank Project"
                    data-filter-tags="blank page">
                    <i class="fal fa-globe"></i>
                    <span class="nav-link-text" data-i18n="nav.blankpage">Inicio!</span>
                </a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-title">Painel Admin {{ info.nome_reduzido }}</li>
            <li>
                <a href="#" title="Category" data-filter-tags="category">
                    <i class="fal fa-user-circle"></i>
                    <span class="nav-link-text" data-i18n="nav.category">Administração {{ info.nome_reduzido }}</span>
                </a>

                <ul>
                    <li>
                        <li>
                            <a href="{% url 'usuarios_list' %}" 
                                title="Sublevel Item"
                                data-filter-tags="utilities menu child sublevel item">
                                <span class="nav-link-text"
                                    data-i18n="nav.utilities_menu_child_sublevel_item">Usuários {{ info.nome_reduzido }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'conteudo:conteudo_list' %}" 
                                title="Sublevel Item"
                                data-filter-tags="utilities menu child sublevel item">
                                <span class="nav-link-text"
                                    data-i18n="nav.utilities_menu_child_sublevel_item">Módulos {{ info.nome_reduzido }}</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'conteudo:categoria_list' %}" 
                                title="Sublevel Item"
                                data-filter-tags="utilities menu child sublevel item">
                                <span class="nav-link-text"
                                    data-i18n="nav.utilities_menu_child_sublevel_item">Categorias {{ info.nome_reduzido }}</span>
                            </a>
                        </li>

                    </li>

                </ul>
            </li>
            {% endif %}
            

            {% for categoria in categorias_sidebar %}
            <li>
                <a href="#" title="Category"
                    data-filter-tags="{{ categoria.nome }}">
                    <i class="{{ categoria.icone.icone_css_class }}"></i>
                    <span class="nav-link-text" data-i18n="nav.category">{{ categoria.nome }}</span>
                </a>
                <ul>
                    {% for conteudo in categoria.conteudo_set.all %}
                    <li>
                        <a
                            href="{% url 'conteudo:conteudo_detail' conteudo.id %}"
                            title="Sublevel Item"
                            data-filter-tags="utilities menu child sublevel item">
                            <span class="nav-link-text"
                                data-i18n="nav.utilities_menu_child_sublevel_item">{{ conteudo.titulo }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle"
            data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a
                    href="https://www.instagram.com/brunaealvesnutri/?igshid=MzRlODBiNWFlZA%3D%3D"
                    target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@brunaealvesnutri" target="_blank" data-toggle="tooltip"
                    data-placement="top" title="Canal no YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'contato' %}" data-toggle="tooltip"
                    data-placement="top" title="Contato">
                    <i class="fal fa-comments"></i>
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0);" data-toggle="tooltip"
                    data-placement="top" title="Make a call">
                    <i class="fal fa-phone"></i>
                </a>
            </li> -->
        </ul>
    </div> <!-- END NAV FOOTER -->
</aside>
<!-- Chamada de Modal Publicar Conteudo -->
<!-- <script>
    $(document).ready(function() {
        $('#linkPublicarConteudo').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'conteudo:cadastrar_conteudo' %}",
                type: 'get',
                dataType: 'html',
                success: function(data) {
                    $(".modal-cadastra-conteudo").html(data);
                    $(".modal-cadastra-conteudo").modal('show');
                }
            });
        });
    });
</script> -->
<!-- Chamada de Modal Cadstrar Categoria -->
<script>
    $(document).ready(function() {
        $('#linkCadastrarCategoria').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'conteudo:cadastrar_categoria' %}",
                type: 'get',
                dataType: 'html',
                success: function(data) {
                    $(".modal-cadastra-categoria").html(data);
                    $(".modal-cadastra-categoria").modal('show');
                }
            });
        });
    });
</script>