{% load static %}
<!-- Page User menu - Pagina de menu do usuário -->
<div>
    <a href="#" data-toggle="dropdown" title="{{ request.user.email }}" class="header-icon d-flex align-items-center justify-content-center ml-2">
        {% if user.profile.foto %}
        <img src="{{ user.profile.foto.url }}" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
        {% else %}
        <img src="{% static 'img/demo/avatars/avatar-m.png' %}" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
        {% endif %}
        
        <!-- you can also add username next to the avatar with the codes below:
        <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
        <i class="ni ni-chevron-down hidden-xs-down"></i> -->
    </a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
        <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
            <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                <span class="mr-2">
                    {% if user.profile.foto %}
                    <img src="{{ user.profile.foto.url }}" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                    {% else %}
                    <img src="{% static 'img/demo/avatars/avatar-m.png' %}" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                    {% endif %}
                </span>
                <div class="info-card-text">
                    <div class="fs-lg text-truncate text-truncate-lg">{{ request.user.get_full_name }}</div>
                    <span class="text-truncate text-truncate-md opacity-80">{{ request.user.email }}</span>
                </div>
            </div>
        </div>
        <div class="dropdown-divider m-0"></div>
        <a href="" class="dropdown-item" data-toggle="modal" data-target=".modal-profile">
            <span data-i18n="drpdwn.reset_layout">Perfil</span>
        </a>
        <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
            <span data-i18n="drpdwn.settings">Settings</span>
        </a>
        <div class="dropdown-divider m-0"></div>
        <a class="dropdown-item fw-500 pt-3 pb-3" href="{% url 'logout' %}">
            <span data-i18n="drpdwn.page-logout">Logout</span>
            <span class="float-right fw-n">&commat;{{ request.user.first_name }}</span>
        </a>
    </div>
</div>