{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- BEGIN Page Content -->

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Portal</a></li>
        <li class="breadcrumb-item">Usuários</li>
        <li class="breadcrumb-item">Lista de Usuários</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span
                class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-globe'></i> Usuários
        </h1>
        <div class="subheader-block"></div>
    </div>
    <div class="container mt-4">
        <div class="card mb-g">
            <div class="card-body p-3">
                <div class="d-flex justify-content-center mb-4">
                    {% if usuario_editado.foto %}
                    <img src="{{ usuario_editado.foto.url }}"
                        class="profile-image rounded-circle"
                        alt="Foto de Perfil">
                    {% else %}
                    <img src="{% static 'img/demo/avatars/avatar-m.png' %}"
                        class="profile-image-lg rounded-circle"
                        alt="Foto de Perfil">
                    {% endif %}
                </div>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch2" name="{{ profile_form.is_paciente.name }}" {% if profile_form.is_paciente.value %}checked{% endif %}>
                            <label class="custom-control-label" for="customSwitch2">É Paciente?</label>
                        </div>
                    </div>

                    <!-- Campo de E-mail -->
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">E-mail:</label>
                        <input type="email" id="{{ form.email.id_for_label }}"
                            name="{{ form.email.name }}" class="form-control"
                            value="{{ form.email.value }}" required>
                    </div>

                    <!-- Campo de Primeiro Nome -->
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">Nome:</label>
                        <input type="text"
                            id="{{ form.first_name.id_for_label }}"
                            name="{{ form.first_name.name }}"
                            class="form-control"
                            value="{{ form.first_name.value }}" required>
                    </div>

                    <!-- Campo de Sobrenome -->
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}">Sobrenome:</label>
                        <input type="text"
                            id="{{ form.last_name.id_for_label }}"
                            name="{{ form.last_name.name }}"
                            class="form-control"
                            value="{{ form.last_name.value }}" required>
                    </div>

                    <!-- Campo de Paciente -->

                    <!-- Campo de Telefone -->
                    <div class="form-group">
                        <label for="fone">Telefone:</label>
                        <input type="text" id="fone" name="fone"
                            class="form-control"
                            value="{{ user_form.fone.value }}" required
                            placeholder="+999999999">
                        <small class="form-text text-muted">Formato: +999999999</small>
                    </div>

                    <!-- Campo de Data de Nascimento -->
                    <div class="form-group">
                        <label
                            for="{{ user_form.data_nascimento.id_for_label }}">Data
                            de Nascimento:</label>
                        <input type="date"
                            id="{{ user_form.data_nascimento.id_for_label }}"
                            name="{{ user_form.data_nascimento.name }}"
                            class="form-control"
                            value="{{ user_form.data_nascimento.value|default_if_none:user.data_nascimento|date:'Y-m-d' }}"
                            required>
                    </div>

                    <!-- Campo de Biografia -->
                    <div class="form-group">
                        <label for="{{ profile_form.bio.id_for_label }}">Biografia:</label>
                        <textarea id="{{ profile_form.bio.id_for_label }}"
                            name="{{ profile_form.bio.name }}"
                            class="form-control">{{ profile_form.bio.value }}</textarea>
                    </div>

                    <!-- Campo de Gênero -->
                    <div class="form-group">
                        <label for="{{ profile_form.genero.id_for_label }}">Gênero:</label>
                        <select id="{{ profile_form.genero.id_for_label }}"
                            name="{{ profile_form.genero.name }}"
                            class="form-control">
                            {% for genero in generos %}
                            <option value="{{ genero.id }}" {% if profile_form.genero.value == genero.id %}selected{% endif %}>{{ genero.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Campo de Foto -->
                    <div class="form-group">
                        <label for="{{ profile_form.foto.id_for_label }}">Foto:</label>
                        <input type="file"
                            id="{{ profile_form.foto.id_for_label }}"
                            name="{{ profile_form.foto.name }}"
                            class="form-control-file">
                    </div>

                    <!-- Botões de Fechar e Salvar -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </form>

            </div>
            <script>
        function toggleCheckbox() {
            var checkbox = document.getElementById('is_paciente_checkbox');
            checkbox.checked = !checkbox.checked; // Inverte o estado do checkbox
        }
    </script>
            {% endblock %}
