{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Portal</a></li>
        <li class="breadcrumb-item">Editar</li>
        <li class="breadcrumb-item">Categoria</li>
        <li class="breadcrumb-item">{{ categoria.nome }}</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span
                class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-folder-open'></i> Editar Categoria: {{ categoria.nome }}
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}


        
        <div class="form-group">
            <label for="{{ categoria_form.nome.id_for_label }}"><i class="fal fa-book"></i> Nome:</label>
            <input type="text" id="{{ categoria_form.nome.id_for_label }}" name="{{ categoria_form.nome.name }}" class="form-control" value="{{ categoria_form.nome.value }}" required>
        </div>
    
        <div class="form-group">
            <label for="{{ categoria_form.icone.id_for_label }}"><i class="fal fa-tags"></i> Icone:</label>
            <select id="{{ categoria_form.icone.id_for_label }}" name="{{ categoria_form.icone.name }}" class="form-control">
                {% for icone in icones %}
                    <option value="{{ icone.id }}" {% if categoria_form.icone.value == icone.id %}selected{% endif %}>{{ icone.descricao }}</option>
                {% endfor %}
            </select>
            
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2" name="{{ categoria_form.ativo.name }}" {% if categoria_form.ativo.value %}checked{% endif %}>
                <label class="custom-control-label" for="customSwitch2">Ativo</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Posição</span>
                    </div>
                    <input type="number" id="{{ categoria_form.ordem.id_for_label }}" name="{{ categoria_form.ordem.name }}" class="form-control" value="{{ categoria_form.ordem.value }}" required min="0">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="{{ categoria_form.descricao.id_for_label }}"><i class="fal fa-align-left"></i> Descrição:</label>
            <textarea id="{{ categoria_form.descricao.id_for_label }}" name="{{ categoria_form.descricao.name }}" class="form-control" required>{{ categoria.descricao }}</textarea>
            <!-- Adicionamos o valor atual da descrição no conteúdo da <textarea> -->
        </div>
        
        <div class="form-group">
            <label for="{{ categoria_form.capa.id_for_label }}"><i class="fal fa-image"></i> Capa:</label>
            <input type="file" id="{{ categoria_form.capa.id_for_label }}" name="{{ categoria_form.capa.name }}" class="form-control" accept="image/*">
            <!-- Agora os usuários podem carregar uma nova imagem como a capa. Note que não especificamos um valor 'required' aqui, para permitir que os usuários mantenham a capa atual sem precisar carregar novamente. -->
            <!-- Se deseja mostrar a imagem atual, pode adicionar um <img> tag com o URL da imagem atual aqui -->
            <img src="{{ categoria.capa.url }}" alt="Capa atual" style="max-width: 100px; max-height: 100px;">
        </div>        

        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'conteudo:categoria_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
