    <!-- Modal para ver relacionamentos -->
    <div class="modal fade" id="relacionamentosModal" tabindex="-1" role="dialog" aria-labelledby="relacionamentosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="relacionamentosModalLabel">Relacionamentos de Categorias e Conteúdos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Acordeão (Accordion) é um componente que permite expandir e colapsar conteúdo.
              Ele é usado aqui para mostrar os conteúdos de cada categoria, permitindo uma visualização clara e organizada. -->
              <div class="accordion" id="categoriasAccordion">
                {% for categoria in categorias %}
                <div class="card">
                    <div class="card-header" id="categoria-{{ categoria.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-primary" type="button" data-toggle="collapse" data-target="#conteudos-{{ categoria.id }}" aria-expanded="true" aria-controls="conteudos-{{ categoria.id }}">
                                <i class="fas {{ categoria.icone.icone_css_class }}"></i> <!-- Ícone da categoria -->
                                {{ categoria.nome }} ({{ categoria.conteudo_set.all.count }}) <!-- Nome da categoria com a quantidade de conteúdos -->
                                {% if categoria.ativo %}
                                <span class="badge badge-success">Ativo</span>
                                {% else %}
                                <span class="badge badge-danger">Inativo</span>
                                {% endif %}
                            </button>
                        </h2>
                    </div>
                    <div id="conteudos-{{ categoria.id }}" class="collapse" aria-labelledby="categoria-{{ categoria.id }}" data-parent="#categoriasAccordion">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for conteudo in categoria.conteudo_set.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="{% url 'conteudo:conteudo_detail' conteudo.id %}">{{ conteudo.titulo }}</a>
                                    {% if conteudo.ativo %}
                                    <span class="badge badge-success">Ativo</span>
                                    {% else %}
                                    <span class="badge badge-danger">Inativo</span>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>